@import "../utils";

$height-aspect-ratio: 23vw;

@mixin frame-settings($debug-color: white) {
    width: 82%;
    /* this keeps aspect ratio i think */
    height: $height-aspect-ratio;

    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-style: solid;
    border-color: white;
    //@include debug-border($debug-color);
}

#content-frame {
    height: 100%;
    width: 100% - $lineup-site-map-width;
    z-index: 3; // stay above filter button when window is too small
    background-color: black;
    display: block;
    overflow-y: auto;
    @include debug-border(green);
    border-left-style: solid;
}

#content-frame-title-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 2px;
}

#content-frame-title {
    padding: 10px;
    text-align: center;
    z-index: 5;
}

#copy-link-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 40px;
    color: white;
    background-color: transparent;
}
#copy-link-icon {
    cursor: pointer;
}

#feedback-icon {
    position: fixed;
    bottom: 5px;
    right: 1.5rem;
    font-size: 45px;
    color: white;
    background-color: transparent;
    border: 0;
}
#feedback-icon:hover {
    cursor: pointer;
}

.checkbox-outer-container {
    display: flex;
    justify-content: center;
}

.checkbox-container {
    text-align: center;
    color: white;
    display: block;
    cursor: pointer;
    width: 200px;
    margin-top: 10px;
    font-size: 18px;
    user-select: none;
}

#content-frame-checkbox {
    margin-right: 10px;
    height: 20px;
    width: 25px;
    vertical-align: middle;
}

#content-frame-description {
    color: white;
    padding: 5px 10px 10px 10px;
    text-align: center;
}

#content-frame-credits-frame {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}


#content-frame-credits-title {
    color: white;
    text-align: center;
    padding-left: 5%;
}

#content-frame-credits {
    color: white;
    padding-left: 5px;
    padding-right: 5%;
    text-align: center;
    word-break: break-all;
}

.image-frame {
    @include frame-settings(yellow);
}

.lineup-image {
    width: 100%;
    height: 100%;
    @include debug-border(purple);
}

#video-frame {
    @include frame-settings(red);
}

.video-responsive {
    height: 100%;
    @include debug-border(teal);
}

.video-responsive iframe {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
