@import '../utils';


@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

.popup-content {
  width: 30% !important;
  min-width: 500px;
  border-radius: 10px;
  animation: anvil 0.2s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  background-color: black;
  border-radius: 7px;
}

.feedback-header {
  text-align: center;
  padding-bottom: 10px;
  width: 100%;
  margin-top: 10px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: white;
}

.feedback-name {
  text-align: center;
  justify-content: center;
  width: 250px;
  height: 40px;
  margin-top: 10px;
  font-size: 18px;
  border-radius: 5px;
}

.feedback-description {
  text-align: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  padding: 5px;
  margin-top: 10px;
  font-size: 18px;
  border-radius: 5px;
}

.feedback-reply-to {
  text-align: center;
  justify-content: center;
  width: 400px;
  height: 40px;
  padding-bottom: 3px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.feedback-submit-button {
  width: 150px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 17px;
  background-color: #0e93ff;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  border-width: 0px;
}

.feedback-submit-button:active {
  box-shadow: 0 3px rgb(0, 82, 121);
  transform: translateY(1px);
}

.sending-message {
  color: white;
  margin-bottom: 10px;
}