@import "map";
@import "content";
@import 'feedbackForm';
@import 'tags';
@import "../utils";

.outer-frame {
    @include outer-frame(flex);
}

$select-height: 45px;

.filters-frame {
    width: $lineup-site-map-width;
    height: 55px;
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 55px;
    z-index: 2; // so it stays above "clear hidden markers" button
    background: transparent;
    position: absolute;
    display: flex;
    @include debug-border(red);
}

// disable cursor highlighting in filter select
.filters-frame > * {
    caret-color: transparent;
    user-select: none;
}

.lineup-filter-select {
    height: $select-height;
    padding-left: 10px;
    font-size: 15px;
    margin-right: 2px;
}

.rmsc.lineup-filter-multi-select {
    min-width: 70px;
    width: 25%;
}

.first-select {
    margin-left: 50px;
}

#clear-hidden-markers-button {
    position: absolute;
    z-index: 1;
    border-radius: 50px;
    border: 2px solid;
    margin-top: 60px;
    margin-left: 50-12.3%;
    height: 50px;
    width: 11.9%;
    font-size: 18px;
    color: #ffffff;
    background-color: #2c2c2c;
    overflow: hidden;
}

#clear-hidden-markers-button:hover {
    color: #41a3ff;
    border-color: currentColor;
    background-color: rgb(29, 29, 29);}

#clear-hidden-markers-button:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

.rotate-button-container {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 10px;
    width: 100px;
}

.map-info-text-container {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 100px;
    width: 250px;
}

.map-info-text {
    color: white
}

.rotate-map-button {
    margin-right: 5px;
    height: 40px;
    width: 40px;
}

.rotate-map-button:active {
    background-color: #e7e7e7;
}