@import "map";
@import "content";
@import "../utils";

.outer-frame {
    @include outer-frame(flex);
}

$select-height: 45px;

.filters-frame {
    width: $lineup-site-map-width;
    height: 55px;
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 55px;
    z-index: 2;
    background: transparent;
    position: absolute;
    display: flex;
    @include debug-border(red);
}

.lineup-filter-select {
    width: 25%;
    height: $select-height;
    padding-left: 10px;
    font-size: 15px;
    margin-right: 2px;
}

.rmsc.lineup-filter-multi-select {
    width: 25%;
}

.first-select {
    margin-left: 50px;
}

#clear-hidden-markers-button {
    position: absolute;
    z-index: 1;
    border-radius: 6px;
    margin-top: 60px;
    margin-left: 50-12.3%;
    height: 50px;
    width: 12%;
    font-size: 18px;
    color: #4d4d4d;
    overflow: hidden;
}

#clear-hidden-markers-button:hover {
    background-color: rgb(219, 219, 219);
}