@import "../utils";

.map-frame {
    height: 100%;
    width: $lineup-site-map-width;
    cursor: grab;
    @include debug-border(white);
}

.map-frame:active {
    cursor: grabbing;
}

#lineup-site-map {
    margin: 40px;
    display: flex;
}

.fixed-marker-frame{ // fixed for rotation stuff
    width: 1000px;
    height: 1000px;
    position: fixed;
}

.marker-icon {
    height: 25px;
    width: 25px;
    position: absolute;
}

.marker-icon:hover {
    cursor: pointer;
}

.arrow {
    stroke: rgb(0, 0, 0);
    stroke-width: 2;
    marker-end: url(#markerArrow);
}
