@import 'map';
@import 'form/form';
@import '../utils';

.design-outer-frame {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.design-site-header {
    margin: 10px 0px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
    border-bottom-style: solid;
}

.design-form-container {
    width: 50%;
}