@import '../utils';

.design-map-frame {
    height: 100%;
    width: 100%;
    margin-bottom: -1000px;
    cursor: grab;
    @include debug-border(white)
}

.design-map-frame:active {
    cursor: grabbing
}

.map-and-buttons {
    width: 50%;
    height: 100%;
    @include debug-border(purple);
}

.map-select-point {
    height: 5%;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    @include debug-border(red)
}

.map-button {
    height: 100%;
    width: 33%;
    margin: auto;
    font-size: 20px;
}