.home {
    text-align: center;
    justify-content: center;
}

.home-content {
    justify-content: center;
    display: flex;
}

.home-content > text { 
    font-size: 1.5rem;
    text-align: center;
    color: white;
}