@import "react-tags";
@import "../../utils";
@import url("https://fonts.googleapis.com/css?family=Poppins");

@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type="submit"] {
        width: 100%;
        margin-top: 0;
    }
}

@mixin textbox-format($height: $input-label-height) {
    width: 100%;
    height: $height;
    padding-left: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.design-form-frame {
    @include outer-frame;
}

.lineup-form {
    background-color: #444442;
    border-radius: 4px;
    height: 100%;
    width: 50%;
    display: block;
    overflow: auto;
    @include debug-border(red);
}

.info-box {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 100;
    margin: 0px 0px 10px 0px;   
}

.error {
    color: red;
}

.success {
    color: rgb(0, 212, 11);
}

input.design-label,
select.design-label,
textarea.design-label {
    @include textbox-format;
}

input.description,
select.description,
textarea.description {
    @include textbox-format($input-label-height * 2);
    //padding-bottom: $input-label-height;
    padding-top: 10px;
}


.row {
    margin: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

select.first-opt-hidden option:first-of-type {
    display: none;
}

.multi-select {
    width: 100%;
}

.dropdown-container {
    height: $input-label-height;
}

.submit-button {
    width: 20%;
    height: 40px;
    margin: 0 40%;
}
