@import '../../utils';

/* Styles for react-tag input */

.ReactTags__tagInput {
    @include input-label;
    display: inline-block;
}

.ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: $input-label-height;
    padding-left: 12px;
    margin: 0;
    font-size: 15px;
    width: 100%;
    border: 1px solid #eee;
}

/* Styles for react-tag selected tags */

.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #def1ff;
    color: rgb(196, 0, 0);
    font-size: 14px;
    display: inline-block;
    padding: 5px;
    margin: 5px 10px 0px 0px;
    border-radius: 2px;
}

.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

.ReactTags__remove {
    margin-left: 5px;
}