.map-frame {
  height: 100%;
  width: 50%;
  cursor: -webkit-grab;
  cursor: grab;
  border-style: dotted;
  border-color: white;
}

.map-frame:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.marker-icon {
  height: 25px;
  width: 25px;
  position: absolute;
}

.marker-icon:hover {
  cursor: pointer;
}

.content-frame {
  height: 100%;
  width: 50%;
  display: block;
  overflow-y: scroll;
  border-style: dotted;
  border-color: green;
}

.image-frame {
  width: 80%;
  /* this keeps aspect ratio i think */
  height: 22.5vw;
  margin: auto;
  margin-bottom: 2%;
  border-style: dotted;
  border-color: yellow;
}

.lineup-image {
  width: 100%;
  height: 100%;
  border-style: dotted;
  border-color: purple;
}

.video-frame {
  width: 80%;
  /* this keeps aspect ratio i think */
  height: 22.5vw;
  margin: auto;
  margin-bottom: 2%;
  border-style: dotted;
  border-color: red;
}

.video-responsive {
  height: 100%;
  border-style: dotted;
  border-color: teal;
}

.video-responsive iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.outer-frame {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.design-map-frame {
  height: 100%;
  width: 50%;
  margin-bottom: -1000px;
  border-style: var(--border-style);
  border-color: white;
  cursor: -webkit-grab;
  cursor: grab;
}

/* Styles for react-tag input */
.ReactTags__tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;
}

.ReactTags__tagInput input.ReactTags__tagInputField, .ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 12px;
  width: 100%;
  border: 1px solid #eee;
}

/* Styles for react-tag selected tags */
.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #63bcfd;
  color: white;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0px 5px;
  border-radius: 2px;
}

.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

.design-form-frame {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-style: dotted;
  border-color: yellow;
}

.lineup-form {
  height: 100%;
  width: 50%;
  margin-bottom: -1000px;
  border-style: dotted;
  border-color: red;
}

select.first-opt-hidden option:first-of-type {
  display: none;
}

.multi-select {
  width: 20%;
}

.lineup-form-label {
  color: white;
}

.design-outer-frame {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.design-site-header {
  margin: 0;
  border-style: var(--border-style);
  border-color: red;
  color: white;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/*# sourceMappingURL=main.css.map */