:root {
    --border-style:  otted;
}

* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    background-color: black;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.outer-frame {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}


.map-frame {
    height: 100%;
    width: 50%;
    border-style: var(--border-style);
    border-color: white;
    cursor: grab;
}


.content-frame {
    height: 100%;
    width: 50%;
    border-style: var(--border-style);
    border-left-style: solid;
    border-color: green;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}


.image-frame {
    margin: auto;
    max-width: 80%;
    /* this keeps aspect ratio i think */
    height: 22.5vw;
    margin-bottom: 1%;
    border-style: var(--border-style);
    border-color: yellow;
}

.lineup-image {
    max-width: 100%;
    max-height: 100%;
    border-style: var(--border-style);
    border-color: purple;
    
}

.video-frame {
    margin: auto;
    margin-bottom: 1%;
    width: 80%;
    /* this keeps aspect ratio i think */
    height: 22.5vw;
    border-style: var(--border-style);
    border-color: red;
}

.video-responsive {
    height: 100%;
    border-style: var(--border-style);
    border-color: teal;
}

.video-responsive iframe{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.map-frame:active {
    cursor: grabbing
}


.marker-frame {
    position: static;
}

.marker-icon {
    height: 25px;
    width: 25px;
    position: absolute;
}

.marker-icon:hover {
    cursor: pointer;
}


