$debug-border-style: hidden;
$input-label-height: 45px;

@mixin debug-border($color: white) {
    border-style: $debug-border-style;
    border-color: $color;
}

@mixin outer-frame($display: flex) {
    width: 100vw;
    height: 100vh;
    display: $display;
    justify-content: center;
}

@mixin input-label {
    width: 100%;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}